*{
    padding: 0;
    margin: 0;
}

body{
    padding: 10px;
    overflow: hidden;
    justify-content: center;
}

body form{
    margin-left: 100px;
    justify-content:center ;
}

form{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.229);
    left: 1200px;
    top: 450px;
    width: 800px;
    height: 900px;
    border-radius: 20px;
    align-content: center;
    justify-items: center;
    justify-content: center;
    margin: 100px;
    font-size: 30px
    
}

.flexbox{
    display: flex;
    margin-left: -70px;
    
}




div .form-control{
    width: 700px;
    height: 60px;
}

form div{
    margin-top: 15px;
    margin-bottom: 11px;
}


.form-text button{
    margin: 30px;
    margin-left: -22px;
    width: 250px;
    height: 60px;
    font-size: 30px;

}

.log-in-up h2{
    margin-left: 210px;

}

.crud{
    position: absolute;
    left: 1510px;
    top: 430px;
    height: 100px;
}

.crud img{
    width: 600px;
    margin-left: -100px;
}

.flexbox button{
    position: absolute;
    background-color:transparent;
    width: 100px;
    border: none;
    outline: none;
    bottom: 23px;
    left: 525px;
    color: rgb(42, 89, 242);

}
